<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="msapplication-TileImage" content="tile-144.png">
  <meta name="msapplication-TileColor" content="#F5CF6A">
  <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Hjelp meg - liste</title>

  <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">

  <script src="lib/ionic/js/ionic.bundle.min.js"></script>

  <!-- firebase -->
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>

  <script src="js/config.js"></script>
  <script src="js/app.js"></script>
  <script src="js/list-controller.js"></script>
</head>

<body ng-app="jegTrengerHjelp">

<ion-pane ng-controller="ListCtrl">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button-icon icon button ion-information-circled" ng-click="infoModal.show()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ng-show="!inputNameMode.value">
      <button class="button-icon icon button ion-gear-a" ng-click="inputNameMode.value = true;"></button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item class="item item-checkbox" ng-repeat="item in queue">
        <label class="checkbox checkbox-balanced">
          <input type="checkbox" ng-click="remove(item)">
        </label>
        {{ item.name }}
      </ion-item>
      <ion-item class="item" ng-show="queue.length === 0">
        <i class="icon ion-checkmark balanced" style="font-size: 200%; vertical-align: middle;"></i>
        Ingen kø akkurat nå
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>
</body>
</html>
